# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
* To learn how to use Jupyter Notebook
* Creating Markdown to provide notes explanations to make it easier for the reader
* Learn how to write simple arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn

| Data Science Tools |
| -------------------|
|1.Python            |
|2.R                 |
|3.Apache Spark      |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [2]:
(3*4)+5

17

# This will convert 200 minutes to hours by diving by 60

In [4]:
round(200/60)

3

## Author
Sydney Ncube